.wrapper {
  padding-inline: 12px;
  padding-block: 128px;
  margin-top: 10px;
}
.accordion-list {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #fff;
  overflow: hidden;
}

.accordion-list__item + .accordion-list__item {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.accordion-item--opened .accordion-item__icon {
  transform: rotate(180deg);
}

.accordion-item--opened .accordion-item__inner {
  max-height: 100rem;
  transition-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition-duration: 0.5s;
  transition-property: max-height;
}

.accordion-item--opened .accordion-item__content {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.2s;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  transition-property: opacity, transform;
}

.accordion-item__line {
  display: block;
  padding: 2.25rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  z-index: 2;
  position: relative;
}

.accordion-item__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.6rem;
  height: 1rem;
  transition: transform 0.3s ease-in-out;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='29' height='17' viewBox='0 0 29 17' fill='none'%3E%3Cpath d='M28.8564 2.63623L14.8306 16.6621L0.804687 2.63623L3.29428 0.146637L14.8306 11.6829L26.3669 0.146636L28.8564 2.63623Z' fill='%23FB8700'/%3E%3C/svg%3E");
  opacity: 0.6;
}

.accordion-item__inner {
  max-height: 0;
  overflow: hidden;
  text-transform: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  transition-duration: 0.5s;
  transition-property: max-height;
  z-index: 1;
  position: relative;
}

.accordion-item__content {
  opacity: 0;
  transform: translateY(-1rem);
  transition-timing-function: linear, ease;
  transition-duration: 0.1s;
  transition-property: opacity, transform;
  transition-delay: 0.5s;
  padding: 1.5rem 0;
}

@media (min-width: 640px) { 
  .wrapper {
    padding-inline: 60px;

  }
 } 